* {
    font-family: 'Poppins', sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
    margin: 0;
    padding: 0;
}

header {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.875px;
    color: #17223D;
    margin: 47px 0px 100px 42px;
}

.menu {
    margin-right: 36px;
}

button {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    height: 51px;
    width: 124px;
    border-radius: 6px;
}

img {
    height: 500px;
    width: 595px;
    display: inline-block;  
    margin-left: 121px;
}

section {
    display: inline-block;
    margin-left: 87px;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161A49;
    width: 582px
}

p {
    width: 493px;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    margin-top: 47px;
    text-align: justify;
}

h6 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    margin-top: 55px;

}

@media screen and (max-width: 900px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: 0;
    }


    .menu {
        display: none;
    }

    button {
        height: 31px;
        width: 91px;
        margin: 17px 0px 0px 240px;
    }

    h1 {
        width: 278px;
        font-size: 30px;
        text-align: center;
        line-height: 30px;
        margin: 0px -20px;
    }

    img, section {
        display: block;
        position: absolute;
    }

    img {
        width: 312px;
        height: 288px;
        margin: 400px 0px 0px 49px;
        
    }
    
    p {
        font-size: 18px;
        line-height: 33px;
        letter-spacing: 0.5px;
        text-align: center;
        margin: 0px 43px;
        width: 304px;
        margin: 10px 0px 0px -25px;
    }

    h6 {
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 1px;
        color: #6FBF44;
        text-align: center;
    }

}
